<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCi78u0ZYpa5E_4gcbB9cx1DUu4bO5C8gA</string>
	<key>GCM_SENDER_ID</key>
	<string>636780232300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dsaprep.app</string>
	<key>PROJECT_ID</key>
	<string>techapp-91eb3</string>
	<key>STORAGE_BUCKET</key>
	<string>techapp-91eb3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636780232300:ios:a1c4955fd22e50f4c76249</string>
</dict>
</plist>